<form action="<%= sessions_url %>" method="post">


  <label for="Login">Login</label> <br><br>
  Username<br>
  <input type="text" name="user[user_name]"> <br>
  Password<br>
  <input type="password" name="user[password]">
  <input type="submit" value="Login">
