<form action="<%= users_url %>" method="post">


  <label for="Login">Sign Up</label> <br><br>
  Username<br>
  <input type="text" name="user[user_name]"> <br>
  Password<br>
  <input type="text" name="user[password]">
  <input type="submit" value="Sign Up">
